/* 시작화면 */
.startScreen {
    position: relative;
    width: 800px; height: 600px;
    border: 1px solid black;
}
.title {
    text-align: center;
    margin: 100px;
    font-size: 3em;
}
.letNameBar {
    position: absolute; left: 30%; top: 45%;
    height: 100px; width: 300px;
    border: 1px solid black;
}
.nameReque {
    text-align: center;
}
#nameForm {
    position: absolute; top: 40%; left: 25px;
    width: 300px;
}
.nameBox {
    position: absolute;
    height: 20px; width: 200px;
}
.nameButton {
    position: absolute; left: 210px;
    height: 25px;
}
.screen {
    position: relative;
    width: 800px; height: 600px;
    border: 1px solid black;
    display: none;
}
#message {
    display: flex; flex-direction: column-reverse;
    padding: 5px;
    width: 100%; height: 200px;
    font-size: 15px;
}
.showMessage {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
}
.hideMessage {
    animation: fadeOut 3s;
    -webkit-animation: fadeOut 3s;
    -moz-animation: fadeOut 3s;
    -o-animation: fadeOut 3s;
}
@keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity:1;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeIn {
    from {
        opacity:1;
    }
    to {
        opacity:1;
    }
}
.monsterStatus {
    position: absolute; bottom: 20%; left: 10px;
    font-size: 13px;
}
#viewUser {
    position: absolute; bottom: 30%; right: 15%;
}
.userInfo {
    position: absolute; bottom: 0px;
    width: 200px; height: 100px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 1px ;
}
.userFace {
    float: left;
    width: 100px; height: 100%;
}
.userStat {
    position: absolute; bottom: 5px;
    font-size: 12px;
}
.userData {
    border-bottom: 1px dotted black;
}
.select {
    position: absolute; bottom: 40%; right: 30%;
}
.menuBar {
    display: none;
}
.menu:hover {
    color: rgb(0,0,255);
}
.battleBar {
    display: none;
}
.battleMenu:hover {
    color: rgb(0,0,255);
}
.nextTurnBar {
    display: none;
}